.hero1 {
  background: url('https://basakarcelikkurumsal.com/Assets/Images/Solutions/ContentImages/otel-tv.webp') center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
  width: 100%;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  scroll-snap-align: start;

  .content {
    background-color: rgba(0, 0, 0, 0.4);
    padding: 40px;
    border-radius: 10px;

    h2 {
      font-size: 48px;
      margin-bottom: 10px;
    }

    p {
      font-size: 20px;
    }
  }
}
